{{ 'base.css' | asset_url | stylesheet_tag }}
{{ 'app.css' | asset_url | stylesheet_tag }}

{% style %}
  .woon {
    padding-top: "{{ section.settings.padding_top | times: 0.75 | round: 0 }}"px;

  }
{% endstyle %}



<div class="woon">
  {% if section.settings.video_checkbox == true %}
    <video autoplay id="video1">
      <source src="{{section.settings.video_url}}" type="video/mp4">
    </video>
  {% endif %}
  <h1>lol</h1>
</div>


{% schema %}
  {
    "name": "Video Image Slider",
    "tag": "section",
    "class": "section",
    "settings": [
      {
        "type": "url",
        "id": "video_url",
        "label": "Video URL"
      }, {
        "type": "checkbox",
        "id": "video_checkbox",
        "label": "Check to open the video"
      }, {
        "type": "range",
        "id": "padding_top",
        "label": "Top padding of the video",
        "default": 0,
        "min": -90,
        "max": 90,
        "step": 5,
        "unit": "px"

      }
    ],
    "presets": [
      {
        "name": "Video Image Slider"


      }
    ]
  }
{% endschema %}